<link href="~/css/Textallign.css" rel="stylesheet" />
<link href="~/css/ModalCenterTextarea.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="~/js/tm/Evaluations.js"></script>
<!-- End Navbar -->
      <div class="content">
          <!--New Row-->
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                    <!-- Modal -->
<div class="modal fade" id="addTraineeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Evaluation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

     @* ADD MODAL WITH DROP DOWN AND FORIEGN KEYS*@
      @*Added*@
       <!-- Modal body -->

     @*add dropdown*@
      <div class="modal-body">
          <div class="form-group">
            <input type="text" style="display:none" class="form-control" id="BatchId">
          </div>
          <div class="form-group">
              <div class="row">
                <label  class="col-md-4 col-form-label">Batch Name:</label>
            <div class="dropdown col-md-4">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select an item
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="batchesDropdown-menu">
              </div>
            </div>
            <span  style="display:hidden" class="col-md-6 "></span>
              </div>
              </div>
<script src="~/js/tm/Evaluations.js"></script>

@*truncation script *@
       <script>
            function checkLength() 
                {
                var name = document.getElementById("name");
                var editname = document.getElementById("editname");
                 if (name.value.length > 30 || editname.value.length > 30)
                     {
                                swal({
                                    title: "WARNING",
                                    text: "Evaluation Name Should not exceed the limit",
                                    icon: "warning",
                                    button: {
                                        text: "OK",
                                        className: "btn-primary",
                                    },
                                });
                 name.value = name.value.slice(0, 30); // Truncate the input to 10 characters
                     }
                }
        </script>


        @*Insertion form*@

                             <form id="addEvaluationForm">
                            <div class="modal-body">
                              <div class="form-group">
                               
                              </div>
                              <div class="form-group">
                                <label for="name" class="col-form-label" >Evaluation Name:</label>
                                <input type="text" class="form-control" id="name"  oninput="checkLength()" required>
                              </div>
                              <div class="form-group">
                                <label for="date" class="col-form-label">Date:</label>
                                <input type="date" class="form-control" id="date" required>
                              </div>
                              <div class="form-group">
                                <label for="topic" class="col-form-label">Topic:</label>
                                <input type="text" class="form-control" id="topic" required>
                                
                              </div>
                              <div>
                                  <label for="question" class="col-form-label">Question:</label>
                               <textarea class="form-control" rows="5" id="question" required></textarea>

                                  </div>

                                  <div>
                                  <label for="description" class="col-form-label">Description:</label>
                                <input type="text" class="form-control" id="description" required>
                                <button type="submit" id="submit-button" class="hide" style="display:none"></button>
                                  </div>
                              
                            </div>
                        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cl" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary  saveButton" >Add Evaluation</button>
      </div>
    </div>
  </div>
</div>


@*EDIT MODAL  WITH DROP DOWN AND FORIEGN KEYS*@
<div class="card">
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       @*edit dropdown*@
      <div class="modal-body">
          <div class="form-group">
            <input type="text" style="display:none" class="form-control" id="evaluationIdEdit">
          </div>
          <div class="form-group">
              <div class="row">
                <label  class="col-md-4 col-form-label">Batch Name:</label>
            <div class="dropdown col-md-4">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="editdropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Select an item
              </button>
              <div class="dropdown-menu" aria-labelledby="editdropdownMenuButton1" id="editbatchesDropdown-menu" >
              </div>
            </div>
            <span  style="display:hidden" class="col-md-6 " ></span>
              </div>
              </div>

             @* Edit form*@

                         <form id="editEvaluationForm">
                            <div class="modal-body">
                              <div class="form-group">
                                  <div>
                                      <input type="hidden" id="updatebatchId" />
                                  </div>
                              </div>
                              <div class="form-group">
                                <label for="editname" class="col-form-label" >Evaluation Name:</label>
                                <input type="text" class="form-control" id="editname" oninput="checkLength()" required>
                              </div>
                              <div class="form-group">
                                <label for="editdate" class="col-form-label">Date:</label>
                                <input type="date" class="form-control" id="editdate" required>
                              </div>
                              <div class="form-group">
                                <label for="edittopic" class="col-form-label">Topic:</label>
                                <input type="text" class="form-control" id="edittopic" required>
                                
                              </div>
                              <div>
                                  <label for="editquestion" class="col-form-label">Question:</label>
                                 <textarea class="form-control" rows="5" id="editquestion" required></textarea>
                                  </div>

                                  <div>
                                  <label for="editdescription" class="col-form-label">Description:</label>
                                <input type="text" class="form-control" id="editdescription" required>
                                <button type="submit" id="editsubmit-button" class="hide" style="display:none"></button>
                                  </div>
                              
                            </div>
                        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cl" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary editEvaluationButton">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
              
                  <div class="card-header">
                    <h5 class="title">Evaluations  <button type="button"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addTraineeModal">Add</button></h5>
                  </div>
                  
                  <!-- Search form -->
                      <div class="col-md-12" style="display: flex;">
                            <input  class="form-control col-md-3 input-sm" type="text" id="searchBox" placeholder="Search" aria-label="Search">
                            @*<button style="float:right;" type="button"  class="btn btn-primary btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg></button>  *@ 
                      </div>
                      <br>  
                </div>
              </div>
           <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Evaluations</h4>
              </div>

              @*Added*@
              @*to show the evaluation details in devextreme datagrid*@
              <div class="card-body">
                <div id="card-container"></div>
              </div>



            </div>
          </div>
       </div>
     </div>
     </div>