<script src="~/js/tm/Homepage.js"></script>
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h2 class="card-title">Training Management System</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div id="gridContainer"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
